.e-class
{
	margin-bottom: 30px;
}

.eclass-table
{
	width: 100%;
}

.eclass-table thead th
{
	padding: 5px 0px;
	color: white;
	background-color: #c0c0c0;
	text-align: center;
	font-weight: bold;
}

.eclass-table tbody td
{
	border-bottom: 1px #c0c0c0 solid;
	padding: 5px 0px;
}